/* *****************************
 * Main CSS file
 *
 * Author: Matt Lepley
 * Version: 1.0
 *
 * *****************************

 ====== Table of Contents ======
 
 1. Global Styles
 2. Navigation
 3. Content
 4. Footer
 5. Miscellaneous
 
 
 ====== Style Guide ============
 
	-- Colors --
	
	-- Typography --
	

 ******************************/

/*
	====== Global Styles ======
*/
html{

}

body{

}

/* HUD */
#hud {
	position: fixed;
	top: 0;
	right: 0;
	padding: 20px;
	text-align: right;
}

#hud .ui-current-weapon {
	font-weight: bold;
	color: lightblue;
}


/* Player Ship */
#player-ship {
	position: absolute;
	left: 50%;
	bottom: 10px;
}

#player-ship > p {
	text-align: center;
}

#player-ship > .assets > div,
#player-ship > .assets > p {
	display: none;
}

#player-ship #thrust {
	color: orange;
}

#player-ship #thrust,
#player-ship .weapon,
.shot-fired,
.fx {
	position: absolute;
}

#sniper {
	color: green;
}

#vulcan {
	color: blue;
}


/* Enemies */
.enemy {
	position: fixed;
	top: 100px;
	left: 100px;
}