/* *****************************
 * ASCII Shooter - Main CSS
 *
 * Author: Matt Lepley
 * Version: 2.0
 * *****************************
 */

/* Global Styles */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans",
    "Trebuchet MS", Verdana, sans-serif;
  line-height: 1.5;
}

/* HUD */
#hud {
  position: fixed;
  top: 0;
  right: 0;
  padding: 20px;
  text-align: right;
}

#hud .ui-current-weapon {
  font-weight: bold;
  color: lightblue;
}

/* Player Ship */
#player-ship {
  position: absolute;
  left: 50%;
  bottom: 10px;
}

#player-ship > p {
  text-align: center;
}

#player-ship > .assets > div,
#player-ship > .assets > p {
  display: none;
}

#player-ship #thrust {
  color: orange;
}

#player-ship #thrust,
#player-ship .weapon,
.shot-fired,
.fx {
  position: absolute;
}

#sniper {
  color: green;
}

#vulcan {
  color: blue;
}

/* Enemies */
.enemy {
  position: fixed;
  top: 100px;
  left: 100px;
}
